.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__description {
  color: #9A9A9A;
  font-size: 11px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 0px;
}

.contacts__workhours-dropdown {
  position: relative;
}

.contacts__workhours-dropdown:hover .contacts__workhours-dropdown-link {
  color:#FFFFFF;
}

.contacts__workhours-dropdown:hover .contacts__workhours-dropdown-menu {
  opacity: 1;
}

.contacts__workhours-dropdown-link {
  font-size: 13px;
  text-decoration: underline;
  color: #98A4A8;
}

.contacts__workhours-dropdown-menu {
  position: absolute;
  background:#EDEDED;
  padding: 14px 19px;
  width: 160px;
  top: 100%;
  opacity: 0;
  transition: height 2s cubic-bezier(0, 0, 0.11, 0.34), opacity .3s ease-out;
  border-radius: 5px;
  margin-top: 6px;
  transform: translate(20%);
}

.contacts__workhours-dropdown-menu::before {
  content: '';
  position: absolute;
  right: 26px;
  top: -35px;
  border: 27px solid transparent;
  border-bottom: 21px solid #EDEDED;
}

.dropdown__item {
  color: #1E1F20;
  font-size: 13px;
  min-width: 21px;
  display: flex;
}

.dropdown__item--active {
  font-weight: bold;
  margin-bottom: 3px;
}

