.footer-container {
  margin-top: auto;
}

.footer-container__main-page {
  height: 146px;
  margin-top: 19px;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--aling--right {
  align-items: flex-end;
}

.inner-footer__container {
  padding: 48px 0px;
}

.inner-footer {
  margin-top: auto;
}