.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 49px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}