.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 49px;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0px;
}

.partners__item:last-child {
  margin-right: 0px;
  }

.partners__link {
  text-decoration: none;
  display: flex;
  width: 247px;
  height: 128px;
  align-items: center;
  justify-content: left;
  filter: grayscale(100%);
  transition: all .5s ease;
}

.partners__link:hover {
  filter: grayscale(0);
}