.hero__company-description {
  width: 53%;
  margin-bottom: 240px;
}

.hero__company-title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.37;
  margin-bottom: 22px;
}

.hero__company-subtitle {
  font-size: 18px;
  margin-bottom: 33px;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;  
  flex: 0.2;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 49px;
  }